services:
  client:
    build:
      context: .
      dockerfile: ./client/Dockerfile
      args:
        - NEXT_PUBLIC_API_URL=${BACKEND_URL}
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=${BACKEND_URL}
    depends_on:
      - server
    networks:
      - shelfshare-network
    restart: always

  server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    ports:
      - "${PORT}:${PORT}"
    environment:
      - PORT=${PORT}
      - MONGO_URI=${MONGO_URI}
      - REDIS_URL=${REDIS_URL}
      - JWT_SECRET=${JWT_SECRET}
      - CLIENT_URL=${CLIENT_URL}
    volumes:
      - /app/node_modules
      - /app/dist
    depends_on:
      - mongo
      - redis
    networks:
      - shelfshare-network
    restart: always

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    command: mongod --replSet rs0 --bind_ip_all
    networks:
      - shelfshare-network
    restart: always

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - shelfshare-network
    restart: always

volumes:
  mongo_data:
  redis_data:

networks:
  shelfshare-network:
